In [ ]:
#Q1

In [1]:
import pandas as pd,numpy as np
def range_series(a=1,b=11):
    if(a==5,b==11): 
        series=pd.Series(np.arange(a,b))
    if(a==5,b==16):
        series=pd.Series(np.arange(a,b))
    else:
        series=pd.Series(np.arange(a,b))
    return series
range_series(),range_series(5,11),range_series(5,16)

(0     1
 1     2
 2     3
 3     4
 4     5
 5     6
 6     7
 7     8
 8     9
 9    10
 dtype: int32,
 0     5
 1     6
 2     7
 3     8
 4     9
 5    10
 dtype: int32,
 0      5
 1      6
 2      7
 3      8
 4      9
 5     10
 6     11
 7     12
 8     13
 9     14
 10    15
 dtype: int32)

In [2]:
#Q2

In [3]:
def funct():
    d = {'One': ["X", "Y"], 'Two': ["A", "B"]}
    df=pd.DataFrame(data=d)
    return df
funct()

  One Two
0   X   A
1   Y   B