# Problem Statement:
* You work in XYZ Company as a Python Data Scientist. The company officials have collected some data
*  on salaries based on year of experience and wish for you to create a model from it.
### Tasks to be performed:
1. Load the dataset using pandas
2. Extract data fromYearsExperience column is a variable named X
3. Extract data from salary column is a variable named Y
4. Divide the dataset into two parts for training and testing in 66% and 33% proportion
5. Create and train LinearRegression Model on training set
6. Make predictions based on the testing set using the trained model
7. Check the performance by calculating the r2 score of the mode

In [1]:
import pandas as pd

## 1 Loading dataset from pandas

In [2]:
dataset =  pd.read_csv('data.csv')
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

# 2 Extract data fromYearsExperience column is a variable named X

In [3]:
X = dataset['YearsExperience']
X.head()

0    1.1
1    1.3
2    1.5
3    2.0
4    2.2
Name: YearsExperience, dtype: float64

# 3 Extract data from salary column is a variable named Y

In [4]:
Y = dataset["Salary"]
Y.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

# 4 Divide the dataset into two parts for training and testing in 66% and 33% proportion

In [5]:
#preparing a data
X = pd.DataFrame(dataset['YearsExperience'])
Y = pd.DataFrame(dataset["Salary"])



#Divide the dataset into two parts for training and testing in 66% and 33% proportion
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.66,test_size=0.33,random_state=1)

In [6]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(19, 1)
(10, 1)
(19, 1)
(10, 1)

# 5 Create and train LinearRegression Model on training set

In [7]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [8]:
dataset_ = dataset.loc[:,['YearsExperience','Salary']]
dataset_.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [9]:
print(regressor.intercept_)

[25688.30996043]

In [10]:
print(regressor.coef_)

[[9206.48851004]]

# Q6 Make predictions based on the testing set using the trained model

In [11]:
y_pred = regressor.predict(X_test)
y_pred = pd.DataFrame(y_pred, columns=['Predicted'])

# 7. Check the performance by calculating the r2 score of the mode

In [12]:
from sklearn import metrics
import numpy as np
print("Mean Absolute Error",metrics.mean_absolute_error(Y_test,y_pred))
print("Mean Squared Error",metrics.mean_squared_error(Y_test,y_pred))
print("Root Mean Squared Error",np.sqrt(metrics.mean_squared_error(Y_test,y_pred)))

Mean Absolute Error 5083.714979847047
Mean Squared Error 38260102.30786227
Root Mean Squared Error 6185.47510769078