# 1. Create a list named ‘myList’ that is having the following elements: 10,20,30,’apple’, True, 8.10.

# Problem Statement:
* You work in XYZ Corporation as a Data Analyst. Your corporation has told you to work with the 
  structure of the Data.

In [1]:
myList = [10,20,30,'Apple',True,8.10]
myList

[10, 20, 30, 'Apple', True, 8.1]

In [2]:
type(myList)

list

# a. Now in the ‘myList’, append these values: 30,40

In [3]:
myList.append(30)
myList.append(40)
myList

[10, 20, 30, 'Apple', True, 8.1, 30, 40]

# b. After that reverse the elements of the ‘myList’ and store that in ‘reversedList’

In [4]:
reversedlist = myList[::-1]
reversedlist

[40, 30, 8.1, True, 'Apple', 30, 20, 10]

# 2. Create a dictonary with key values as 1,2,3 and the values as ‘data’,’information’, and ‘text’.

In [5]:
dict1 = {1 : 'Data',2 : 'Information',3 : 'Text'}
dict1

{1: 'Data', 2: 'Information', 3: 'Text'}

In [6]:
type(dict1)

dict

# a. After that eliminate the ‘text’ value form the dictonary.

In [7]:
dict1.pop(3)

'Text'

In [9]:
dict1

{1: 'Data', 2: 'Information'}

# b. Add ‘features’ in the dictonary.

In [10]:
dict1[3] = 'Features'
dict1

{1: 'Data', 2: 'Information', 3: 'Features'}

# c. Fetch the ‘data’ element from the dictonary and display it in the output.

In [11]:
dict1[1]

'Data'

# 3. Create a tuple and add these elements 1,2,3,apple,mango in ‘my_tuple

In [12]:
my_tuple = (1,2,3,'Apple','Mango')
my_tuple

(1, 2, 3, 'Apple', 'Mango')

In [13]:
type(my_tuple)

tuple

# 4. Create another tuple named numeric_tuple consisting of only integer values 10,20,30,40,50

In [14]:
Numeric_tuple = (10,20,30,40,50)
Numeric_tuple

(10, 20, 30, 40, 50)

In [15]:
type(Numeric_tuple)

tuple

# a. Find the minimum value from the numeric_tuple.

In [16]:
min(Numeric_tuple)

10

# b. Concatenate my_tuple with numeric_tuple and store the result in r1.

In [17]:
r1 = my_tuple+Numeric_tuple
r1

(1, 2, 3, 'Apple', 'Mango', 10, 20, 30, 40, 50)

# c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’.

In [18]:
newdupli = my_tuple * 2
newdupli

(1, 2, 3, 'Apple', 'Mango', 1, 2, 3, 'Apple', 'Mango')

# 5. Create 2 sets with name set1 and set2, where set1 contains{1,2,3,4,5} and set2 to contains{2,3,7,6,1}

In [19]:
set1 = {1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [20]:
type(set1)

set

In [21]:
set2 = {2,3,7,6,1}
set2

{1, 2, 3, 6, 7}

In [22]:
type(set2)

set

# a. Perform the below operation:

# a. set1 union set2

In [23]:
union = set1.union(set2)
union

{1, 2, 3, 4, 5, 6, 7}

# b. set1 intersection set2

In [24]:
intersection = set1.intersection(set2)
intersection

{1, 2, 3}

# c. set1 difference set2

In [25]:
diff1 = set1.difference(set2)
diff1

{4, 5}

In [26]:
diff2 = set2.difference(set1)
diff2

{6, 7}